
.center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#body {
flex-direction: row;
}
.text {
    text-align: center;
}
.thing {
    text-align: center;
}
.cps {
    width: 5rem;
    height: 2rem;
    font-family: sans-serif; 
}
#padding-up-small {
    margin-top: -1rem;
    padding-top: 0;
}